.hero {
    background-color: #18202c;
    color: white;
    padding: 50px 0;
    height: 350px; 
}
.hero h1 {
    font-size: 3rem;
}
.project-card {
    margin-bottom: 20px;
}
footer {
    background-color: #21262c;
    color: white;
    padding: 20px 0;
}
.nav_links{
    background-color: #202731;   
}
.cont_2{
    padding: 0 140px;
}
.cont_3{

    
}